
:root {
    --primary-1: #133754;
    --primary-2: #131654;
    --primary-3: #301354;
    --primary-4: #543013;
    --primary-5: #375413;
    --primary-6: #EB290C;
    --primary-7: #40EB0C;
    --primary-8: #EB920C;
    --secondary-1:#CDEB0C;
    --secondary-2:#0CCDEB;
    --secondary-3:#2A0CEB;
    --secondary-4:#0CEBB7;
    --secondary-5:#B70CEB;
    --secondary-6:#EB0C40;
    --secondary-7:#65EB0C;
    --secondary-8:#0C65EB;
    --secondary-9:#920CEB;

}
