    
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Landing Page" %}</title>
</head>
<body>
    <h1>{% trans "Welcome to DarklightMETA Studio" %}</h1>
    <h4>{% trans "This is your custom homepage." %}</h4>

    <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <label for="language">{% trans "Choose Language:" %}</label>
    <select name="language" id="language">
        <option value="en">English</option>
        <option value="zh-hans">简体中文</option>
        <option value="zh-hant">繁體中文</option>
    </select>
    <input type="submit" value="{% trans 'Change Language' %}">
</form>

</body>
</html>